{% extends 'Layouts/siteDeVente.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block titre_principal %}{{ parent() }} : Inscription{% endblock %}

{% block vue %}
    {{ form(formCreate) }}
    <button class="btn btn-lg btn-primary" type="submit">Créer compte</button>
{% endblock %}