{# Menu du site #}
<h2>Menu</h2>
<ul>
    <li><a href="{{ path("security_login") }}">Connexion</a></li>
    <li><a href="{{ path("security_create") }}">Inscription</a></li>
    <li><a href="{{ path("accueil_index") }}">Accueil</a></li>
    <li><a href="{{ path("security_logout") }}">Déconnexion</a></li>
</ul>
